@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    background-color: #F7EDE2;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

h1 {
    font-size: 30px;
    padding: 20px;
    background-color: #F5CAC3;
}

h1, h2 {
    color: #14213d;
    margin: 0;
    width: initial;
    text-align: center;
    font-weight: 500;
    
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-todo-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 40px;
}

input, button {
    border: none;
    outline: none;
    cursor: pointer;
}

.input-wrapper {
    width: 50%;
}

.input-wrapper input {
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px 0 0 10px;
}

.input-wrapper input::placeholder {
    font-family: 'Raleway',  sans-serif;
    color: #ddd;
}

.button-wrapper {
    display: flex;
}

.button-wrapper button {
    background-color: #F6BD60;
    color: #14213d;
    font-size: 26px;
    font-weight: 500;
    padding: 0 15px;
    border-radius: 0 10px 10px 0;
}

button {
    transition: 0.2s ease;
}

button:hover {
    background-color: #118ab2 !important;
    color: #fff !important;
}

.todos-wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-item {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 45%;
    max-width: 500px;
    min-width: 240px;
    padding: 10px 15px;
    border-radius: 10px;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    padding: 10px;
    margin: 0 0 0 10px;
    border-radius: 10px;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    color: #14213d;
    background-color: #f6bd60;
}

.buttons input {
    transform: scale(1.5);
    transform-origin: center;
    display: block;
}

.checked {
    opacity: 0.5;
}

.deleted {
    animation: opacity 1s ease;
}

@keyframes opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media (max-width:480px) {
    .todo-item {
        font-size: 13px;
    }    
}

@media (max-width:320px) {
    .add-todo-wrapper {
        transform: scale(0.7);
    }
    
}